.DS_Store
.cproject
.project
.settings
*.pyc
*~
*/models/iris/*.sdf
*.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

log_output/*.csv
log_output/*.png
*.mp4
tmp_*

plot_*_*_*_*
log_*_*_*_*
video_*_*_*_*
simulations.database
rotors_gazebo/resource/crazyflie2_mpc1_dyn_*.yaml