<?xml version="1.0"?>
<launch>
  <arg name="mav_name" default="crazyflie2"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_state_estimator" default="false" />
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="paused" value="true"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="false"/>
  <arg name="obstacleScenario" default="0"/>
  <arg name="pathScenario" default="2"/>
  <arg name="droneCount" default="15"/>
  <arg name="swarm_mode" default="gradenum"/>
  <arg name="swarm_params" default="swarm_params"/>
  <arg name="csvFilesStoring" default="true"/> <!-- possible values: "true", "false", "distance" -->
  <arg name="csvFilesStoringTime" default="999.0"/> <!-- seconds -->
  <!-- The following line causes gzmsg and gzerr messages to be printed to the console
      (even when Gazebo is started through roslaunch) -->
  <arg name="verbose" default="false"/>

  <!-- The following lines simulate the world in Gazebo. The physic engine properties
        are set up in the file "basic_crazyflie.world" file -->
  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
  <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic_crazyflie_obstacle$(arg obstacleScenario).world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  <node name="global_controller" required="true" pkg="rotors_gazebo" type="global_controller" output="screen">
    <param name="droneCount" value="$(arg droneCount)"/>
    <param name="spacingX" value="0.5"/>
    <param name="spacingY" value="0.5"/>
    <param name="spacingZ" value="0.2"/>
    <param name="offsetX" value="0.0"/>
    <param name="offsetY" value="0.0"/>
    <param name="swarmMode" value="$(arg swarm_mode)"/>
    <param name="obstacleScenario" value="$(arg obstacleScenario)"/>
    <param name="pathScenario" value="$(arg pathScenario)"/>
  </node>

  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="0" />
    <arg name="spawnX" value="0.0" />
    <arg name="spawnY" value="0.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="1" />
    <arg name="spawnX" value="0.5" />
    <arg name="spawnY" value="0.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="2" />
    <arg name="spawnX" value="1.0" />
    <arg name="spawnY" value="0.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="3" />
    <arg name="spawnX" value="1.5" />
    <arg name="spawnY" value="0.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="4" />
    <arg name="spawnX" value="2.0" />
    <arg name="spawnY" value="0.0" />
  </include>

  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="5" />
    <arg name="spawnX" value="0.0" />
    <arg name="spawnY" value="0.5" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="6" />
    <arg name="spawnX" value="0.5" />
    <arg name="spawnY" value="0.5" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="7" />
    <arg name="spawnX" value="1.0" />
    <arg name="spawnY" value="0.5" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="8" />
    <arg name="spawnX" value="1.5" />
    <arg name="spawnY" value="0.5" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="9" />
    <arg name="spawnX" value="2.0" />
    <arg name="spawnY" value="0.5" />
  </include>

  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="10" />
    <arg name="spawnX" value="0.0" />
    <arg name="spawnY" value="1.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="11" />
    <arg name="spawnX" value="0.5" />
    <arg name="spawnY" value="1.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="12" />
    <arg name="spawnX" value="1.0" />
    <arg name="spawnY" value="1.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="13" />
    <arg name="spawnX" value="1.5" />
    <arg name="spawnY" value="1.0" />
  </include>
  <include file="$(find rotors_gazebo)/launch/crazyflie2_swarmX_inner.launch" pass_all_args="true">
    <arg name="droneNumber" value="14" />
    <arg name="spawnX" value="2.0" />
    <arg name="spawnY" value="1.0" />
  </include>


</launch>
