<?xml version="1.0"?>

<model>
  <name>Flat marker</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Andreas Brandstaetter</name>
    <email>andreas.brandstaetter@tuwien.ac.at</email>
  </author>

  <description>
    An flat marker indicating X and Y position, e.g. for landing site.
  </description>

</model>
