<?xml version="1.0"?>

<model>
  <name>Scale Plane</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Andreas Brandstaetter</name>
    <email>andreas.brandstaetter@tuwien.ac.at</email>
  </author>

  <description>
    A sphere marker.
  </description>

</model>
